@font-face {
    font-family: 'hvd_rowdy';
    src: url('./css/HVD_Rowdy-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

p {
  font-family: 'hvd_rowdy';
}

@font-face {
    font-family: 'mathlete';
    src: url('/fonts/Mathlete-Bulky-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: 'mathlete';
}