<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<!--link th:href="@{/bootstrap.min.css}" rel="stylesheet"-->
<link th:href="@{/bootstrap.min.css}" rel="stylesheet">
<head>
  <meta charset="utf-8" name="viewport" content= "width=device-width, initial-scale=1.0">
  <style>
            .gfg {
                font-size:40px;
                font-weight:bold;
                color:green;
                text-align:center;
            }
            .geeks {
                font-size:17px;
                text-align:center;
            }
            p {
                text-align:justify;
            }
        </style>
  <title>Images</title>
</head>
<body>
<div align="center">
  <div>
    <h1>List Of All Entries</h1>
    <a href="/new">Add New Entry</a>
  </div>

  <div>&nbsp;</div>

  <div>
    <form th:action="@{/}">
      Filter:
      <input type="text" name="keyword" th:value="${keyword}"/>
      &nbsp;
      <input type="submit" value="Search"/>
      &nbsp;
      <input type="button" value="Clear" onclick="clearFilter()"/>
    </form>
  </div>

  <div>&nbsp;</div>

  <table border="1" cellpadding="10" align="center">
    <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Location</th>
      <th>Category</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${entryList}">
      <th scope="row"><img alt="" th:src="*{'data:image;base64,'+{entry.image}}" style="width:200px"></th>
      <td th:text="${entry.title}">Title</td>
      <td th:text="${entry.location}">Location</td>
      <td th:text="${entry.category}">Category</td>
      <td>
        <a th:href="@{'/edit/'+${entry.id}}">Edit</a>
        &nbsp;&nbsp;&nbsp;
        <a th:href="@{'/delete/'+${entry.id}}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<p>Click the button to get your coordinates!</p>
<button onclick="getLocation()">Get Location!</button>
<p id="demo"></p>
<script type="text/javascript">
  function clearFilter() {
  window.location = '/';
  }
</script>
<script>
  var x = document.getElementById("demo");
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
      } else {
      x.innerHTML = "Geolocation is not supported by this browser";
      }
  }
  function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
  }
</script>
<!--script src="js/jquery-3.1.1.min.js"></script-->
</body>

</html>